body {
  background-color: #f7dad9;
}
.container {
  width: 100%;
  height: 100%;
  margin: 7%;;
}

.textContainer {
  font-family: 'Pacifico', cursive;
  font-size: 23px;
  text-align: center;
  color: #555555;
}
